.friendList {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /* outline: solid 1px rgb(184, 180, 180); */
  /* background-color: rgb(240, 239, 238); */
  /* border-radius: 5px; */
  /* color: green; */
}
